<h2>Data source</h2>

<p>Name: {{data_source.name}}</p>
<p>Added: {{data_source.added}}</p>
<p>Filetype: {{data_source.filetype}}</p>
<p>User: <a href="/users/{{data_source.user}}">{{data_source.user}}</a></p>
