<table class="zebra-striped">
  <thead><tr><th>Added</th><th>Name</th></tr></thead>
  <tbody>
    {{#samples}}
    <tr>
      <td><a href="samples/{{id}}">{{added}}</a></td>
      <td>{{name}}</td>
    </tr>
    {{/samples}}
  </tbody>
</table>
