<h2>Samples</h2>

<p><a href="/add_sample">Add sample</a></p>

<table class="zebra-striped">
  <thead><tr><th>Added</th><th>Name</th></tr></thead>
  <tbody>
    {{#samples}}
    <tr>
      <td><a href="/samples/{{id}}">{{added}}</a></td>
      <td>{{name}}</td>
    </tr>
    {{/samples}}
  </tbody>
</table>
