<h2>Users</h2>

<p><a href="/add_user">Add user</a></p>

<table class="zebra-striped">
  <thead><tr><th>Added</th><th>Name</th><th>Roles</th></tr></thead>
  <tbody>
    {{#users}}
    <tr>
      <td><a href="/users/{{login}}">{{added}}</a></td>
      <td>{{name}}</td>
      <td>{{roles}}</td>
    </tr>
    {{/users}}
  </tbody>
</table>
