@green: #00A301;
@red: #E51400;

@textGray: #080808;

@inputSuccess: lighten(@green, 5%);
@inputSuccessHighlight: darken(@green, 5%);
@inputFail: lighten(@red, 5%);
@inputFailHighlight: darken(@red, 5%);

body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

tbody tr[data-href] {
    cursor: pointer;
}

#form-authenticate.success input {
    background: @inputSuccess;
    color: white;
    &:hover {
        background: @inputSuccessHighlight;
    }
    &:focus,
    &.focus {
        background: white;
        color: @textGray;
        text-shadow: 0 1px 0 white;
    }
}

#form-authenticate.fail input {
    background: @inputFail;
    color: white;
    &:hover {
        background: @inputFailHighlight;
    }
    &:focus,
    &.focus {
        background: white;
        color: @textGray;
        text-shadow: 0 1px 0 white;
    }
}
