body {
  padding-top: 40px;
}

#form-authenticate.success input {
    background: #5C7B1E; // YellowGreen shade
    &:hover {
        background: #8BB82D; // YellowGreen shade
    }
    &:focus,
    &.focus {
        background: white;
        text-shadow: 0 1px 0 white;
    }
}

#form-authenticate.fail input {
    background: #8E1B1B; // FireBrick shade
    &:hover {
        background: #BA3838; // FireBrick shade
    }
    &:focus,
    &.focus {
        background: white;
        text-shadow: 0 1px 0 white;
    }
}
